<nav class="navbar navbar-fixed navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#">ToDo</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
  <td><%= link_to "Index ", todos_path %></td>  
  <td><%= link_to "List ", todos_list_path %></td>  
  <td><%= link_to "New ToDo", todos_new_path %></td>
  </div>
</div>
</nav>